@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --site-bg: #f7fafc; /* light gray */
  --texqxt-default: #071031; /* dark navy */
}

body {
  @apply bg-[var(--site-bg)] text-[var(--text-default)];
  font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial;
}

a {
  @apply text-per-accent hover:text-per-accentSoft;
}

/* Utility for hero large heading */
.hero-title {
  @apply text-5xl md:text-[72px] leading-tight font-extrabold;
}

